/*
Styles for TSTool User Manual 
- Put html defaults at top
- Override with additional styles below
*/
/*
	font-family: "Arial", Helvetica, sans-serif;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-family: "Tahoma", Geneva, sans-serif;
*/

html *
{
	font-family: 'Times New Roman', Times, serif;
}

code {
	font-family: "Courier New", Courier, monospace;
}

h1 {
	font-family: "Arial", Helvetica, sans-serif;
}

h2 {
	font-family: "Tahoma", Geneva, sans-serif;
}

p {
	font-family: 'Times New Roman', Times, serif;
}

ul {
	list-style-type: "square";
}

/*
Styles for specific classes.
*/

/* Font to use for commands, such as command names referenced in text */
.command {
	font-family: "Courier New", Courier, monospace;
}

/* Titles for figures and tables */
.figure-title {
	font-family: "Arial", Helvetica, sans-serif;
	font-size:  larger;
	font-weight: bold;
	text-align: center;
}

/* Highight text with yellow background */
.highlight {
	background-color: yellow;
}

/* Small notes indicating figure image source
	text-align: right;
*/
.image-source {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 8pt;
	align: right;
}

/* Styles for command parameter table */
.table-command-parameter {
 	border-collapse: collapse;
	border: solid;
}

/* Styles for command parameter table "Parameter" column */
.table-th-command-parameter-name {
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color: lightgray;
	width: 15%;
	border: solid;
	border-width: 1px;
	padding-top: 0in;
	padding-right: 5.4pt;
	padding-bottom: 0in;
	padding-left: 5.4pt;
}

/* Styles for command parameter table "Description" column */
.table-th-command-parameter-description {
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color: lightgray;
	width: 70%;
	border: solid;
	border-width: 1px;
	padding-top: 0in;
	padding-right: 5.4pt;
	padding-bottom: 0in;
	padding-left: 5.4pt;
}

/* Styles for command parameter table "Default" column */
.table-th-command-parameter-default {
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	background-color: lightgray;
	width: 15%;
	border: solid;
	border-width: 1px;
	padding-top: 0in;
	padding-right: 5.4pt;
	padding-bottom: 0in;
	padding-left: 5.4pt;
}

/* Styles for command parameter table cells */
.table-td-command-parameter {
	text-align: left;
	border: solid;
	border-width: 1px;
	padding-top: 0in;
	padding-right: 5.4pt;
	padding-bottom: 0in;
	padding-left: 5.4pt;
}

/* References to UI components like menus, buttons, etc. */
.ui {
	font-family: "Arial", Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
}

/* Small notes indicating TSTool version */
.version-note {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 8pt;
}
